Repository nitk-nest/NeST: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test docs, release docs, push gitlab registry

Path conditions:
  test docs: any of: docs/**/*, nest/**/*
  release docs: any of: docs/**/*, nest/**/*
  push gitlab registry: any of: Dockerfile

examples: Add example to retain namespace post run
  examples/config/p2p.py
Due: none

topology: Remove current existing veth class
  nest/topology/__init__.py
  nest/topology/interface.py
Due: test docs, release docs

topology: Add new class TrafficControlHandler
  nest/topology/traffic_control.py
Due: test docs, release docs

topology: Add methods to delete class and filters
  nest/engine/tc.py
  nest/topology/traffic_control.py
Due: test docs, release docs

topology: Add new device class
  nest/topology/device.py
Due: test docs, release docs

topology: Add comments to make interface clearer
  nest/topology/interface.py
Due: test docs, release docs

topology: Add new classes to help interface class
  nest/topology/ifb.py
  nest/topology/veth_end.py
Due: test docs, release docs

topology: Add methods to change qdisc and class
  nest/engine/tc.py
  nest/topology/traffic_control.py
  nest/topology_map.py
Due: test docs, release docs

topology: Remove dependece of node in interface
  nest/experiment/experiment.py
  nest/topology/interface.py
  nest/topology/node.py
Due: test docs, release docs

topology: Design interface class with all helpers
  nest/topology/interface.py
  nest/topology/node.py
Due: test docs, release docs

topology: Clean up interface redesign MR
  nest/engine/tc.py
  nest/experiment/experiment.py
  nest/tests/test_topology.py
  nest/topology/device.py
  nest/topology/ifb.py
  nest/topology/interface.py
  nest/topology/traffic_control.py
  nest/topology/veth_end.py
Due: test docs, release docs

topology: Add Router API
  nest/tests/test_topology.py
  nest/topology/__init__.py
  nest/topology/router.py
Due: test docs, release docs

Add utils directory
  utils/README.md
  utils/default_examples_args.json
  utils/run_examples.py
Due: none

ci: Run all examples in a scheduled pipeline
  .gitlab-ci.yml
Due: none

utils: Explicitly use absolute paths
  utils/run_examples.py
Due: none

examples: Add point-to-point-2.py
  examples/tutorial/basic-examples/point-to-point-2.py
Due: none

examples: Add README for basic-examples
  examples/tutorial/basic-examples/README.md
Due: none

examples: Add simple-lan.py
  examples/tutorial/basic-examples/simple-lan.py
Due: none

docs: Update tutorial for basic-examples
  docs/source/user/tutorial.rst
Due: test docs, release docs

examples: Delete p2p.py
  examples/tutorial/p2p.py
Due: none

examples: Add point-to-point-1.py
  examples/tutorial/basic-examples/point-to-point-1.py
Due: none

examples: Add point-to-point-3.py
  examples/tutorial/basic-examples/point-to-point-3.py
Due: none

examples: Add two-lans-connected-directly.py
  examples/tutorial/basic-examples/two-lans-connected-directly.py
Due: none

ci: Add variable to allow pipeline run in fork
  .gitlab-ci.yml
Due: none

ci: Emit unit test report as artifacts
  .gitlab-ci.yml
  Dockerfile
  utils/run_examples.py
Due: push gitlab registry

examples: Add ipv6-simple-lan.py
  examples/ipv6/ipv6-simple-lan.py
Due: none

examples: Delete p2p.py and prp.py IPv6 examples
  examples/ipv6/p2p.py
  examples/ipv6/prp.py
Due: none

examples: Add README for IPv6 examples
  examples/ipv6/README.md
Due: none

examples: Add ipv6-point-to-point-3.py
  examples/ipv6/ipv6-point-to-point-3.py
Due: none

examples: Add ipv6-point-to-point-1.py
  examples/ipv6/ipv6-point-to-point-1.py
Due: none

examples: Add ipv6-point-to-point-2.py
  examples/ipv6/ipv6-point-to-point-2.py
Due: none

examples: Add ipv6-two-lans-connected-directly.py
  examples/ipv6/ipv6-two-lans-connected-directly.py
Due: none

examples: Delete address_helper examples
  examples/address_helper/dumbbell.py
  examples/address_helper/multi-bottleneck.py
  examples/address_helper/prp.py
  examples/address_helper/prrrp.py
Due: none

examples: Add ah-point-to-point-1.py
  examples/address-helpers/ah-point-to-point-1.py
Due: none

examples: Add ah-point-to-point-2.py
  examples/address-helpers/ah-point-to-point-2.py
Due: none

examples: Add ah-point-to-point-3.py
  examples/address-helpers/ah-point-to-point-3.py
Due: none

examples: Add ipv6-ah-point-to-point-1.py
  examples/address-helpers/ipv6-ah-point-to-point-1.py
Due: none

examples: Add ipv6-ah-point-to-point-2.py
  examples/address-helpers/ipv6-ah-point-to-point-2.py
Due: none

examples: Add ipv6-ah-point-to-point-3.py
  examples/address-helpers/ipv6-ah-point-to-point-3.py
Due: none

examples: Add README for address helper examples
  examples/address-helpers/README.md
Due: none
