Repository nitk-nest/NeST: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test docs, release docs, push gitlab registry

Path conditions:
  test docs: any of: docs/**/*, nest/**/*
  release docs: any of: docs/**/*, nest/**/*
  push gitlab registry: any of: Dockerfile

ci: Upload artifacts even if job fails
  .gitlab-ci.yml
Due: none

examples: Delete old LAN examples
  examples/lan/dumbbell-lan.py
  examples/lan/simple-lan.py
Due: none

examples: Update README of quagga examples
  examples/routing/quagga/README.md
Due: none

Configure Secret Detection in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: none

Routing: Consider nodes with 1 interface as host in RoutingHelper
  nest/routing/routing_helper.py
Due: test docs, release docs

examples: Delete old MPLS examples
  examples/mpls/cust-prov-cust_ldp.py
  examples/mpls/cust-prov-cust_mpls.py
  examples/mpls/prrp_mpls.py
Due: none

examples: Add mpls-basic-ce-pe-routers.py
  examples/routing/mpls/mpls-basic-ce-pe-routers.py
Due: none

examples: Add mpls-ce-pe-p-routers.py
  examples/routing/mpls/mpls-ce-pe-p-routers.py
Due: none

examples: Add mpls-ldp-ce-pe-p-routers.py
  examples/routing/mpls/mpls-ldp-ce-pe-p-routers.py
Due: none

examples: Add README for MPLS examples
  examples/routing/mpls/README.md
Due: none

examples: Add README for routing examples
  examples/routing/README.md
Due: none

examples: Remove the tutorial directory
  docs/source/user/tutorial.rst
  examples/address-helpers/README.md
  examples/address-helpers/ah-point-to-point-1.py
  examples/address-helpers/ah-point-to-point-2.py
  examples/address-helpers/ah-point-to-point-3.py
  examples/address-helpers/ah-simple-lan.py
  examples/address-helpers/ah-two-lans-connected-directly.py
  examples/basic-examples/README.md
  examples/basic-examples/point-to-point-1.py
  examples/basic-examples/point-to-point-2.py
  examples/basic-examples/point-to-point-3.py
  examples/basic-examples/simple-lan.py
  examples/basic-examples/two-lans-connected-directly.py
  examples/config-options/README.md
  examples/config-options/config-1-point-to-point-1.py
  examples/config-options/config-2-point-to-point-1.py
  examples/config-options/config-3-point-to-point-1.py
  examples/config-options/custom-config.json
  examples/ipv6/README.md
  examples/ipv6/ipv6-point-to-point-1.py
  examples/ipv6/ipv6-point-to-point-2.py
  examples/ipv6/ipv6-point-to-point-3.py
  examples/ipv6/ipv6-simple-lan.py
  examples/ipv6/ipv6-two-lans-connected-directly.py
Due: test docs, release docs

examples: Change config example as per code change
  examples/config-options/custom-config.json
Due: none

config: Change config to not have hierarchy
  nest/config.json
  nest/config.py
Due: test docs, release docs

topology: Output live ping output
  nest/engine/exec.py
  nest/engine/ping.py
  nest/topology/node.py
Due: test docs, release docs

topology: No output in ping when verbose=False
  nest/topology/node.py
Due: test docs, release docs

routing: Add timestamp in routing logs folder
  nest/logging_helper.py
  nest/routing/routing_helper.py
  nest/tests/test_routing_quagga.py
Due: test docs, release docs

logging_helper: filter for duplicate routing logs
  nest/logging_helper.py
  nest/routing/route_daemons.py
Due: test docs, release docs

examples: Update ping details in Quagga examples
  examples/routing/quagga/README.md
  examples/routing/quagga/quagga-isis-point-to-point-2.py
  examples/routing/quagga/quagga-isis-point-to-point-3.py
  examples/routing/quagga/quagga-ospf-point-to-point-2.py
  examples/routing/quagga/quagga-ospf-point-to-point-3.py
  examples/routing/quagga/quagga-rip-point-to-point-2.py
  examples/routing/quagga/quagga-rip-point-to-point-3.py
Due: none

examples: Update details of ping in MPLS examples
  examples/routing/mpls/README.md
  examples/routing/mpls/mpls-basic-ce-pe-routers.py
  examples/routing/mpls/mpls-ce-pe-p-routers.py
  examples/routing/mpls/mpls-ldp-ce-pe-p-routers.py
Due: none

examples: Update details of ping in FRR examples
  examples/routing/frr/README.md
  examples/routing/frr/frr-isis-point-to-point-2.py
  examples/routing/frr/frr-isis-point-to-point-3.py
  examples/routing/frr/frr-ospf-point-to-point-2.py
  examples/routing/frr/frr-ospf-point-to-point-3.py
  examples/routing/frr/frr-rip-point-to-point-2.py
  examples/routing/frr/frr-rip-point-to-point-3.py
Due: none

examples: Update ping details in address-helpers
  examples/address-helpers/README.md
  examples/address-helpers/ah-point-to-point-1.py
  examples/address-helpers/ah-point-to-point-2.py
  examples/address-helpers/ah-point-to-point-3.py
  examples/address-helpers/ah-simple-lan.py
  examples/address-helpers/ah-two-lans-connected-directly.py
  examples/address-helpers/ipv6-ah-point-to-point-1.py
  examples/address-helpers/ipv6-ah-point-to-point-2.py
  examples/address-helpers/ipv6-ah-point-to-point-3.py
  examples/address-helpers/ipv6-ah-simple-lan.py
  examples/address-helpers/ipv6-ah-two-lans-connected-directly.py
Due: none

docs: Update details of ping in tutorial
  docs/source/user/tutorial.rst
Due: test docs, release docs

examples: Update details of ping in basic-examples
  examples/basic-examples/README.md
  examples/basic-examples/point-to-point-1.py
  examples/basic-examples/point-to-point-2.py
  examples/basic-examples/point-to-point-3.py
  examples/basic-examples/simple-lan.py
  examples/basic-examples/two-lans-connected-directly.py
Due: none

examples: Update details of ping in IPv6 examples
  examples/ipv6/README.md
  examples/ipv6/ipv6-point-to-point-1.py
  examples/ipv6/ipv6-point-to-point-2.py
  examples/ipv6/ipv6-point-to-point-3.py
  examples/ipv6/ipv6-simple-lan.py
  examples/ipv6/ipv6-two-lans-connected-directly.py
Due: none

examples: Update details of ping in config-options
  examples/config-options/README.md
  examples/config-options/config-1-point-to-point-1.py
  examples/config-options/config-2-point-to-point-1.py
  examples/config-options/config-3-point-to-point-1.py
Due: none

examples: Delete examples for loss and corruption
  examples/prp_packet_corruption.py
  examples/prp_packet_loss.py
Due: none

examples: Add example for Packet Corruption
  examples/packet-operations/packet-corruption-point-to-point-3.py
Due: none

examples: Add example for Packet Loss
  examples/packet-operations/packet-loss-point-to-point-3.py
Due: none

examples: Add example for Packet Capture
  examples/packet-operations/packet-capture-point-to-point-3.py
Due: none

examples: Delete old Packet Capture example
  examples/run_commands_inside_node/p2p_tcpdump.py
Due: none

examples: Add README for packet-operations
  examples/packet-operations/README.md
Due: none

Dockerfile: Add tcpdump dependency
  Dockerfile
Due: push gitlab registry

input_validator: Add validator for Metrics
  nest/input_validator/metric.py
Due: test docs, release docs

Add nest/input_validator
  nest/input_validator/__init__.py
  nest/input_validator/input_validator.py
  nest/input_validator/typing_helper_methods.py
Due: test docs, release docs

config: Improve exception handling
  nest/__init__.py
  nest/config.json
  nest/config.py
  nest/exception.py
Due: test docs, release docs

nest: Add input validation for commonly used APIs
  nest/experiment/experiment.py
  nest/network_utilities.py
  nest/routing/routing_helper.py
  nest/topology/__init__.py
  nest/topology/address.py
  nest/topology/address_helper.py
  nest/topology/interface.py
  nest/topology/network.py
  nest/topology/node.py
  nest/topology/veth_end.py
Due: test docs, release docs

tests: Add test cases for input_validator
  nest/tests/test_input_validator.py
  nest/tests/test_routing_quagga.py
  nest/tests/test_topology.py
Due: test docs, release docs

ci: Add seperate job to generate coverage report
  .coveragerc
  .gitlab-ci.yml
  utils/.coveragerc
Due: none

parser: Fix typo in NetperfRunner
  nest/experiment/parser/netperf.py
Due: test docs, release docs
